/**********************************/
/*         Page Containers        */
/**********************************/

.UserHome-outer-container {
  display: flex;
  flex-direction: column;

  height: 95vh !important;
  width: 100% !important;
  overflow: hidden;

  font-family: 'Arial', sans-serif;
}

.UserHome-inner-container {
  width: 100%;
  height: 95%;
  
  padding-left: .7em;
  
  display: flex;
  flex-direction: row;
}

.UserHome-left-side {
  width: 65%;
  height: 100%;
  display: flex;
}

.UserHome-right-side {
  height: 80%;
  flex: 1;
  display: flex;
  justify-content: space-between;

  flex-direction: column;

  margin-left: 1.5em;
  margin-right: 1.5em;
  /* margin-top: 1.5em; */
}

/**********************************/
/*              Title             */
/**********************************/

.UserHome-title-container {
  width: 100%;
  height: 3rem;

  display: flex;
  flex-direction: row;
  column-gap: 1em;

  align-items: center;

  padding-left: 1em;
}

.UserHome-examples {
  color: gray;
  font-size: .8em;

  justify-content: end;
  align-items: center;

  display: flex;
  flex: 1;

  margin-right: 2rem;
  margin-top: .3rem;
}

.UserHome-example-icon {
  color: gray;

  margin-left: .5rem;
  font-size: 1.1rem;

  height: 1.2rem;
  width: 1.2rem;

  padding: .3rem;

  text-align: center;
  text-justify: center;

  /* Add green circle outline around score */
  border: 2px solid gray;
  border-radius: 50%;

  cursor: pointer;
}

.UserHome-title {
  font-weight: 600;
  font-size: 1.9em;
}

.UserHome-subtitle {
  font-weight: 500;
  font-size: .8em;

  margin-top: .3rem;

  color: #585858;
}

/**********************************/
/*           Text Area            */
/**********************************/

.UserHome-text-area {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.UserHome-quill {
  flex: 1; /* Allows it to grow and fill available space */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/**********************************/
/*           Arguments            */
/**********************************/

.UserHome-argument {
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

.UserHome-argument-input {
  margin-top: .5em;
  padding: .5em;
  
  height: 5rem;
  width: 93%;

  font-family: 'Arial', sans-serif;

  border: 1px solid lightgrey;
}

/**********************************/
/*           Score Card           */
/**********************************/

.UserHome-score-card {
  height: 15rem;
  width: 93%;

  font-size: 1.4em;

  display: flex;
  flex-direction: column;
  row-gap: .8em;

  padding: .5em;
  padding-top: 1em; 
  padding-bottom: 1em; 
  justify-content: center;
  align-items: center;

  background-color: white;
  color: #585858;

  border: 1px solid lightgrey;
  border-radius: 3em;
  
  box-shadow: 0px 0px 7px 4px #D5D5D5;
}

.UserHome-score-title {
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
}

.UserHome-score {
  font-size: 4rem;

  height: 4.5rem;
  width: 4.5rem;

  padding: 1rem;

  text-align: center;
  text-justify: center;
  color: black;

  /* Add green circle outline around score */
  border: 3px solid #1BC222;
  border-radius: 50%;
}

.UserHome-border-Poor {
  border: 3px solid red;
}

.UserHome-border-Fair {
  border: 3px solid orange;
}

.UserHome-border-Good {
  border: 3px solid yellowgreen;
}

.UserHome-category {
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
}

/**********************************/
/*           Highlights           */
/**********************************/

.UserHome-Excellent {
  background-color: #abedbe;
  border-radius: .3rem;
}

.UserHome-Normal {
  background-color: transparent;
}

.UserHome-Poor {
  background-color: #ffd1d1;
  border-radius: .3rem;
}

/**********************************/
/*             Submit             */
/**********************************/

.UserHome-button-container {
  width: 100%;

  display: flex;
  justify-content: center;

  opacity: .8;
  background: linear-gradient(45deg, red, orange, yellowgreen, #1BC222);

  font-family: 'Arial', sans-serif;
  font-size: 1.2em;

  box-shadow: 0px 0px 8px 5px #D5D5D5;
  border-radius: .6em;
}

.UserHome-button:hover {
  opacity: .9;
  color: black;
}

.UserHome-button {
  background: white;
  color: black;
  border: none;

  padding: .7em;
  margin: .15em;

  width: 100%;

  font-family: 'Arial', sans-serif;
  font-size: 1em;
  font-weight: 600;

  border-radius: .6em;

  text-align: center;
  cursor: pointer;
}

::placeholder {
  color:    #ABABAB;
}