/**********************************/
/*         Page Containers        */
/**********************************/

.UserHome-outer-container {
  display: flex;
  flex-direction: column;

  height: 95vh !important;
  width: 100% !important;
  overflow: hidden;

  font-family: "Times New Roman", Times, serif;
}

.UserHome-inner-container {
  width: 100%;
  height: 95%;
  
  padding-left: .7em;
  
  display: flex;
  flex-direction: row;
}

.UserHome-left-side {
  width: 65%;
  display: flex;
}

.UserHome-right-side {
  flex: 1;
  display: flex;
  justify-content: space-between;

  flex-direction: column;

  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-top: 1.5em;
}

/**********************************/
/*              Title             */
/**********************************/

.UserHome-title-container {
  width: 100%;
  height: 3rem;

  display: flex;
  flex-direction: row;
  column-gap: 1em;

  align-items: center;

  padding-left: 1em;
}

.UserHome-title {
  font-weight: 600;
  font-size: 1.9em;
}

.UserHome-subtitle {
  font-weight: 500;
  font-size: 1em;

  color: #585858;
}

/**********************************/
/*           Text Area            */
/**********************************/

.UserHome-text-area {
  width: 95%;
  padding: 1em;

  font-family: "Times New Roman", Times, serif;
  font-size: 1.2em;

  background-color: #FAFAFA;
  border: none;
  border-radius: 1em;
  
  box-shadow: 0px 0px 8px 5px #D5D5D5 inset;
}

/**********************************/
/*           Arguments            */
/**********************************/

.UserHome-argument {
  display: flex;
  flex-direction: column;

  font-size: 1.2em;
}

.UserHome-argument-input {
  margin-top: .5em;
  padding: .5em;
  
  height: 5rem;
  width: 93%;

  font-family: "Times New Roman", Times, serif;
  font-size: 1em;

  background-color: #FAFAFA;
  border: none;
  border-radius: .6em;
  
  box-shadow: 0px 0px 8px 5px #D5D5D5 inset;;
}

/**********************************/
/*           Score Card           */
/**********************************/

.UserHome-score-card {
  height: 15rem;
  width: 93%;

  font-family: "Times New Roman", Times, serif;
  font-size: 1.4em;

  display: flex;
  flex-direction: column;
  row-gap: .8em;

  padding: .5em;
  justify-content: center;
  align-items: center;

  background-color: white;
  color: #585858;

  border: none;
  border-radius: .6em;
  
  box-shadow: 0px 0px 8px 5px #D5D5D5;
}

.UserHome-score-title {
  color: black;
}

.UserHome-score {
  font-size: 4rem;

  height: 4.5rem;
  width: 4.5rem;

  padding: 1rem;

  text-align: center;
  text-justify: center;
  color: black;

  /* Add green circle outline around score */
  border: 3px solid #1BC222;
  border-radius: 50%;
}

.UserHome-border-Poor {
  border: 3px solid red;
}

.UserHome-border-Fair {
  border: 3px solid orange;
}

.UserHome-border-Good {
  border: 3px solid yellowgreen;
}

/**********************************/
/*           Highlights           */
/**********************************/

.UserHome-Excellent {
  background-color: #abedbe;
  border-radius: .3rem;
}

.UserHome-Good {
  background-color: yellowgreen;
}

.UserHome-Normal {
  background-color: transparent;
}

.UserHome-Poor {
  background-color: #ffd1d1;
  border-radius: .3rem;
}

/**********************************/
/*             Submit             */
/**********************************/

.UserHome-button-container {
  width: 100%;

  font-family: "Times New Roman", Times, serif;
  font-size: 1.2em;
}

.UserHome-button {
  background-color: #8E8E8E;
  border: none;
  color: white;

  padding: .7em;
  width: 100%;

  font-family: "Times New Roman", Times, serif;
  font-size: 1em;
  font-weight: 600;

  border-radius: .6em;

  text-align: center;
  cursor: pointer;
}

::placeholder {
  color:    #ABABAB;
}